{% extends "network/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <h1>All posts</h1>
    {% if user.is_authenticated %}
        <section class="compose card-body border">
            <form action="" method="post" id="compose-form">
                <div class="form-group">
                    <h3 class="card-title">New Post</h3>
                    {% csrf_token %}
                    {% render_field add_post_form.text class="form-control text-form-field" %}
                </div>
                <input type="submit" class="btn btn-primary" value="Post"/>
            </form>
        </section>
    {% endif %}

    {% include 'network/include/posts.html' %}

    {% if page_obj.has_previous or page_obj.has_next %}
        {% include 'network/include/pagination.html' %}
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/js/network.js' %}"></script>
{% endblock %}