{% extends "network/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <h1>All posts</h1>
    {% if user.is_authenticated %}
        <section class="compose card-body border">
            <form action="" method="post" id="compose-form">
                <div class="form-group">
                    <h3 class="card-title">New Post</h3>
                    {% csrf_token %}
                    {% render_field form.text class="form-control text-form-field" %}
                </div>
                <input type="submit" class="btn btn-primary" value="Post"/>
            </form>
        </section>
    {% endif %}

    <section id="posts">
        {% for post in page_obj %}
            <article class="post card-body border">
                <h3 class="card-title"><a class="author-link" href="user/{{ post.author }}">{{ post.author }}</a></h3>
                {% if post.author == request.user %}
                    <button type="button" class="edit-btn btn btn-link">Edit</button>
                    <form action="" method="post" class="edit-form" style="display: none">
                        <div class="form-group">
                            {% csrf_token %}
                            {% render_field form_2.text class="form-control text-form-field edit-textarea" %}
                            {% render_field form_2.id value=post.id class="edit-id" %}
                        </div>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </form>
                {% endif %}
                <p class="post-text">{{ post.text|linebreaksbr }}</p>
                <p class="post-timestamp">{{ post.timestamp }}</p>
                <form action="" method="post" class="like-form">
                    {% csrf_token %}
                    {% render_field form_3.id value=post.id class="like-id" %}
                    <div class="post-likes">
                        {% if request.user in post.likes.all %}
                            <div id="heart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-heart-fill {% if user.is_authenticated %}submit-like{% endif %}" viewBox="0 0 16 17">
                                    <path fill-rule="evenodd"d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                            </div>
                        {% else %}
                            <div id="heart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-heart {% if user.is_authenticated %}submit-like{% endif %}" viewBox="0 0 16 17">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815
                                        2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878
                                        10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12
                                        3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                </svg>
                            </div>
                        {% endif %}
                        {% if post.likes.all is None %}
                            <span class="likes-count">0</span>
                        {% else %}
                            <span class="likes-count">{{ post.likes.all|length }}</span>
                        {% endif %}
                    </div>
                </form>
            </article>
        {% endfor %}
    </section>

    <nav class="pagination-parent">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="?page=1">1</a>
                </li>
            {% endif %}
            {% if page_obj.has_previous and page_obj.has_next %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% elif page_obj.paginator.num_pages is 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% else %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/js/posts.js' %}"></script>
{% endblock %}