{% extends "network/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <h1><span id="username">{{ username }}</span>'s profile</h1>

	<section id="follows" class="card-body d-flex flex-column align-items-center">
        <p>followers: <span id="followers">0</span></p>
        <p>following: <span id="following">0</span></p>
        <form action="" method="post" id="follow">
            {% render_field handle_follow_form.id value=username class="follow-id" %}
            {% csrf_token %}
            <div id="follow-btn-container">
            </div>
        </form>
    </section>

    {% include 'network/include/posts.html' %}

    {% if page_obj.has_previous or page_obj.has_next %}
        {% include 'network/include/pagination.html' %}
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/js/network.js' %}"></script>
{% endblock %}
