{% extends "network/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <h1>{{ username }}'s profile</h1>

	<section id="follows" class="card-body border">
        <p>followers: <span>{{ followers_sum }}</span></p>
        <p>following: <span>{{ following_sum }}</span></p>
        <form action="" method="post" id="follow">
            {% csrf_token %}
            {% if is_followed is True %}
                <input type="submit" class="btn btn-danger" value="Unfollow">
            {% elif is_followed is False %}
                <input type="submit" class="btn btn-primary" value="Follow">
            {% endif %}
        </form>
    </section>

    {% include 'network/include/posts.html' %}

    {% include 'network/include/pagination.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/js/network.js' %}"></script>
{% endblock %}
