{% load widget_tweaks %}

<section id="posts">
    {% for post in page_obj %}
        <article class="post card-body border">
            <h3 class="card-title"><a class="author-link" href="user/{{ post.author }}">{{ post.author }}</a></h3>
            {% if post.author == request.user %}
                <button type="button" class="edit-btn btn btn-link">Edit</button>
                <form action="" method="post" class="edit-form" style="display: none">
                    <div class="form-group">
                        {% csrf_token %}
                        {% render_field form_2.text class="form-control text-form-field edit-textarea" %}
                        {% render_field form_2.id value=post.id class="edit-id" %}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </form>
            {% endif %}
            <p class="post-text">{{ post.text|linebreaksbr }}</p>
            <p class="post-timestamp">{{ post.timestamp }}</p>
            <form action="" method="post" class="like-form">
                {% csrf_token %}
                {% render_field form_3.id value=post.id class="like-id" %}
                <div class="post-likes">
                    {% if request.user in post.likes.all %}
                        <div id="heart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-heart-fill {% if user.is_authenticated %}submit-like{% endif %}"
                                 viewBox="0 0 16 17">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                            </svg>
                        </div>
                    {% else %}
                        <div id="heart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-heart {% if user.is_authenticated %}submit-like{% endif %}"
                                 viewBox="0 0 16 17">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815
                                        2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878
                                        10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12
                                        3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                            </svg>
                        </div>
                    {% endif %}
                    <span class="likes-count">0</span>
                </div>
            </form>
            <p>Comments: <span class="comm-count">0</span></p>
            {% if user.is_authenticated %}
                <div>
                    <button type="button" class="comment-btn btn btn-link">Add comment</button>
                    <section class="compose card-body border" id="comment-form-body" style="display: none">
                        <form action="" method="post" id="comment-form">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">New Comment</h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-x-lg" viewBox="0 0 16 16" id="exitCommentForm">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1
                                            .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0
                                            1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                    </svg>
                                </div>
                                {% csrf_token %}
                                {% render_field form_comm.text class="form-control text-form-field text-comm" %}
                                <span id="post_id" style="display: none">{{ post.id }}</span>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Comment"/>
                        </form>
                    </section>
                </div>
            {% endif %}
            {% if user.is_authenticated and user == post.author %}
                <form method="post" action="" class="delete-form">
                    <p class="post-id" hidden>{{ post.id }}</p>
                    {% csrf_token %}
                    <button type="button" class="btn btn-link delete-btn">Delete</button>
                </form>
            {% endif %}
        </article>
    {% endfor %}
</section>