h1 {
    margin-left: 0.5em;
}

.card-body {
    margin: 1em;
}

.post-timestamp, .post-likes {
    font-weight: lighter;
}

#follows p span {
    font-weight: bold;
}

.edit-btn, .delete-btn, .comment-btn {
    margin-left: -0.75em;
}

.bi {
    color: red;
}

.post-likes {
    display: flex;
}

.likes-count {
    margin-left: 0.2em;
}

.comment-btn {
    margin-top: -2em;
}

.comm-count {
    margin-top: 0.5em;
}

.bi-x-lg {
    color: black;
}

.bi-x-lg:hover {
    cursor: pointer;
}
