h1 {
    margin-left: 0.5em;
    font-size: 1.8em;
    text-align: center;
}

.card-body {
    margin: 1em;
}

.post-timestamp, .post-likes {
    font-weight: lighter;
}

#follows p span {
    font-weight: bold;
}

.edit-btn, .delete-btn, .comment-btn, .delete-comm-btn {
    margin-left: -0.75em;
}

.post-likes {
    display: flex;
}

.likes-count {
    margin-left: 0.2em;
}

.comment-btn {
    margin-top: -2em;
}

.comm-count {
    margin-top: 0.5em;
}

.bi-x-lg {
    color: black;
}

.bi-x-lg:hover {
    cursor: pointer;
}

.bi-heart, .bi-heart-fill {
    transition: all 200ms ease-in-out 0s;
}

.bi-heart:hover {
    cursor: pointer;
    color: red;
}

.bi-heart-fill {
    color: red;
}

.bi-heart-fill:hover {
    color: black;
}

.comm-count:hover {
    cursor: pointer;
}
